.form{
	width: 40%;
	padding:30px;
	margin:40px auto;
	background: #FFF;
	border-radius: 20px;
	-webkit-border-radius:20px;
	-moz-border-radius: 20px;
	box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.13);
	-moz-box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.13);
	-webkit-box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.13);
}
.form .inner-wrap{
	padding: 32px;
	background: #F8F8F8;
	border-radius: 8px;
	margin-bottom: 15px;
}
.form h1{
	background: #33a097;
	padding: 20px 30px 15px 30px;
	margin: -30px -30px 30px -30px;
	border-radius: 10px 10px 0 0;
	-webkit-border-radius: 10px 10px 0 0;
	-moz-border-radius: 10px 10px 0 0;
	color: #fff;
	text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.12);
    font: normal 50px 'Bitter', serif;
    box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.17);
	-moz-box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.17);
	-webkit-box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.17);
	border: 1px solid #257C9E;
}
.form h1 > span{
	display: block;
	margin-top: 2px;
	font: 20px Arial, Helvetica, sans-serif;
}
.form label{
	display: block;
	font: 20px Arial, Helvetica, sans-serif;
	color: rgb(104, 102, 102);
	margin-bottom: 15px;
}
.form input[type="text"],
.form input[type="date"],
.form input[type="datetime"],
.form input[type="email"],
.form input[type="number"],
.form input[type="search"],
.form input[type="time"],
.form input[type="url"],
.form input[type="password"],
.form input[type="checkbox"],
.form input[type="file"],
.form textarea,
.form select {
    display: block;
    font: 20px Arial, Helvetica, sans-serif;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	width: 100%;
	padding: 12px;
	border-radius: 6px;
	-webkit-border-radius:6px;
	-moz-border-radius:6px;
	border: 2px solid rgb(236, 229, 229);
	box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.33);
	-moz-box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.33);
	-webkit-box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.33);
}

.range {
	display: flex;
	justify-content: space-evenly;
}

.range input[type="text"] {
	/* margin-left: 6px;
  margin-right: 6px; */
  width: 30%;
}

.form select {
    margin-bottom: 20px;
}

.form .section{
	font: normal 30px 'Bitter', serif;
	color: #33a097;
	margin-bottom: 5px;
}
.form .section span {
	background: #33a097;
	padding: 5px 10px 5px 10px;
	position: absolute;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border: 4px solid #fff;
	font-size: 20px;
	margin-left: -45px;
	color: #fff;
	margin-top: -3px;
}
.form input[type="button"], 
.form input[type="submit"]{
	background: #33a097;
	padding: 8px 20px 8px 20px;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	color: #fff;
	text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.12);
	font: normal 30px 'Bitter', serif;
	-moz-box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.17);
	-webkit-box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.17);
	box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.17);
	border: 1px solid #257C9E;
}
.form input[type="button"]:hover, 
.form input[type="submit"]:hover{
	background: #2A6881;
	-moz-box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.28);
	-webkit-box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.28);
	box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.28);
}


/* Mark input boxes that gets an error on validation: */
input.invalid {
  background-color: #ffdddd;
}

/* Hide all steps by default: */
.tab {
  display: none;
}

button {
  background-color: #4CAF50;
  color: #ffffff;
  border: none;
  padding: 10px 20px;
  font: normal 25px 'Bitter', serif;
  cursor: pointer;
}

button:hover {
  opacity: 0.8;
}

#prevBtn {
  background-color: #bbbbbb;
}

#results {
    white-space: pre-line;
    margin: auto;
    font: normal 30px 'Bitter', serif;
    text-align: center;
}





/* ---------TOGGLES--------- */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  display: inline-block;
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}



/* ---------RADIO BUTTONS--------- */
.radiobuttons {
	display: flex;
	justify-content: space-around;
}

/* The container */
.radio {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default radio button */
.radio input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Create a custom radio button */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
  border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.radio:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the radio button is checked, add a blue background */
.radio input:checked ~ .checkmark {
  background-color: #2196F3;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.radio input:checked ~ .checkmark:after {
  display: block;
}

/* Style the indicator (dot/circle) */
.radio .checkmark:after {
 	top: 9px;
	left: 9px;
	width: 8px;
	height: 8px;
	border-radius: 50%;
	background: white;
}





/* ---------TOOLTIP-------- */
.tooltip {
  position: relative;
  display: inline-block;
  text-align: center;
  background-color: #a7c8d8;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  font-size: 17px;
  line-height: 26px;
  cursor: default;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 300px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 5px;
  position: absolute;
  z-index: 1;
  bottom: 0%;
  left: 350%;
  margin-left: -30px;
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip:before{
    content:'?';
    font-weight: bold;
    color:#fff;
}

/* .tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
} */

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

/* CSS animation */
@-webkit-keyframes fadeIn {
    0% { 
        opacity:0; 
        transform: scale(0.6);
    }

    100% {
        opacity:100%;
        transform: scale(1);
    }
}

@keyframes fadeIn {
    0% { opacity:0; }
    100% { opacity:100%; }
}




/* ------------NAVIGATION TABS------------ */
/* Style the tab */
.tabby {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #6fb8ac;
  display: flex;
  justify-content: space-around;
  margin-bottom: 50px;
}

/* Style the buttons inside the tab */
.tabby button {
  background-color: inherit;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 21px;
}

/* Change background color of buttons on hover */
.tabby button:hover {
  background-color: #326b62;
}

/* Create an active/current tablink class */
.tabby button.active {
  background-color: #275d81;
}

.tablinks {
	width: 100%;
}

#companylogo {
  width: 110px;
  float: right;
}