<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Configure INI File</title>
    <link href='http://fonts.googleapis.com/css?family=Bitter' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/form.css') }}">

    <link rel="shortcut icon" type="image/jpg" href="https://user-images.githubusercontent.com/35853195/42889397-52f9c75e-8a78-11e8-9da8-86ccc3a30a80.png" />
</head>

<body>
    <div id="results"></div>
    <div class="form" id="container">
        <h1>Configuring the INI file
            <img src="https://user-images.githubusercontent.com/35853195/42889397-52f9c75e-8a78-11e8-9da8-86ccc3a30a80.png" id="companylogo">
            <span>
                Fill out the required parameters to create an INI file that will be used when
                running the program
            </span>
        </h1>

        <div class="tabby">
            <button class="tablinks steppy" onclick="openTab('input_data')">Input Data</button>
            <hr class="solid">
            <button class="tablinks steppy" onclick="openTab('alg_parameters')">Algorithm Parameters</button>
            <hr class="solid">
            <button class="tablinks steppy" onclick="openTab('alg_steps')">Algorithm Steps</button>
        </div>

        <div id="patientOptionDiv">
            <label for="patientSelect">Choose a patient to work on
                <div class="tooltip">
                    <span class="tooltiptext">This is the inline help tip!</span>
                </div>
            </label>
            <select name="patientSelect" id="patientSelect">
                <option value=""></option>
                {% for i in range(patients|length) %}
                <option value="{{patients[i]}}">{{patients[i]}}</option>
                {% endfor %}
            </select>
        </div>

        <label for="prevfile">Input previous INI file (Optional)</label>
        <input type="file" id="prevfile" name="prevfile" style="margin-bottom: 50px;">

        <form id="my-form">
            <div class="tab">
                <div class="section header" id="input_data"><span>1</span>Input Data</div>
                <div class="inner-wrap">
                    <label for="modality">modality
                        <div class="tooltip">
                            <span class="tooltiptext">This is the inline help tip!</span>
                        </div>
                    </label>
                    <select id="modality" name="modality">
                        <option value="meg">MEG</option>
                        <option value="meeg">MEEG</option>
                        <option value="eeg">EEG</option>
                    </select>   

                    <label for="run_num">run_num
                        <div class="tooltip">
                            <span class="tooltiptext">This is the inline help tip!</span>
                        </div>
                        <input type="text" name="run_num" id="run_num" value="1234" /></label>
                    <label for="remote_subject_dir">remote_subject_dir
                        <div class="tooltip">
                            <span class="tooltiptext">This is the inline help tip!</span>
                        </div>
                        <input type="text" name="remote_subject_dir" id="remote_subject_dir" value="filepath" /></label>
                    <label for="meg_fol">meg_fol
                        <div class="tooltip">
                            <span class="tooltiptext">This is the inline help tip!</span>
                        </div>
                        <input type="text" name="meg_fol" id="meg_fol" value="filepath" /></label>
                    <label for="ictals_fol_name">ictals_fol_name
                        <div class="tooltip">
                            <span class="tooltiptext">This is the inline help tip!</span>
                        </div>
                        <input type="text" name="ictals_fol_name" id="ictals_fol_name" value="ictal" /></label>
                    <label for="interictals_fol_name">interictals_fol_name
                        <div class="tooltip">
                            <span class="tooltiptext">This is the inline help tip!</span>
                        </div>
                        <input type="text" name="interictals_fol_name" id="interictals_fol_name" value="interictal" /></label>
                    <label for="bad_channels_meg">bad_channels_meg
                        <div class="tooltip">
                            <span class="tooltiptext">This is the inline help tip!</span>
                        </div>
                        <input type="text" name="bad_channels_meg" id="bad_channels_meg" value="233,456" /></label>
                    <label for="bad_channels_eeg">bad_channels_eeg
                        <div class="tooltip">
                            <span class="tooltiptext">This is the inline help tip!</span>
                        </div>
                        <input type="text" name="bad_channels_eeg" id="bad_channels_eeg" value="678" /></label>
                    <label for="raw_fname">raw_fname
                        <div class="tooltip">
                            <span class="tooltiptext">This is the inline help tip!</span>
                        </div>
                        <input type="text" name="raw_fname" id="raw_fname" value="filepath" /></label>
                        <label for="empty_room_fname">empty_room_fname
                            <div class="tooltip">
                                <span class="tooltiptext">This is the inline help tip!</span>
                            </div>
                            <input type="text" name="empty_room_fname" id="empty_room_fname" value="filepath" /></label>
                        <label for="dip_fname">dip_fname
                            <div class="tooltip">
                                <span class="tooltiptext">This is the inline help tip!</span>
                            </div>
                            <input type="text" name="dip_fname" id="dip_fname" value="filepath" /></label>
                </div>
            </div>

            <div class="tab">
                <div class="section header" id="alg_parameters"><span>2</span>Algorithm Parameters</div>
                <div class="inner-wrap">
                    <label for="inverse_method">Inverse Method
                        <div class="tooltip">
                            <span class="tooltiptext">This is the inline help tip!</span>
                        </div>
                    </label>
                    <select id="inverse_method" name="inverse_method">
                        <option value="'MNE'">MNE</option>
                    </select>
                    <label for="downsample_r">downsample_r
                        <div class="tooltip">
                            <span class="tooltiptext">This is the inline help tip!</span>
                        </div>
                        <input type="text" name="downsample_r" id="downsample_r" value="2" /></label>
                    <label>seizure_times
                        <div class="tooltip">
                            <span class="tooltiptext">This is the inline help tip!</span>
                        </div>
                        <div class="range">
                            <input type="text" name="seizure_times" class="rangeinput" value="-1" />
                            <input type="text" name="seizure_times" class="rangeinput high" value="1" />
                        </div>
                    </label>
                    <label for="windows_length">windows_length
                        <div class="tooltip">
                            <span class="tooltiptext">This is the inline help tip!</span>
                        </div>
                        <input type="text" name="windows_length" id="windows_length" value="0.1" /></label>
                    <label for="windows_shift">windows_shift
                        <div class="tooltip">
                            <span class="tooltiptext">This is the inline help tip!</span>
                        </div>
                        <input type="text" name="windows_shift" id="windows_shift" value="0.05" /></label>
                    <label for="mean_baseline">mean_baseline
                        <div class="tooltip">
                            <span class="tooltiptext">This is the inline help tip!</span>
                        </div>
                        <input type="text" name="mean_baseline" id="mean_baseline" value="10" /></label>
                    <label>auto_calc_mean_baseline
                        <div class="tooltip">
                            <span class="tooltiptext">This is the inline help tip!</span>
                        </div>
                        
                        <!-- <div class="radiobuttons">
                            <label class="radio">True
                                <input type="radio" checked="checked" name="auto_calc_mean_baseline" value="true">
                                <span class="checkmark"></span>
                            </label>
                            <label class="radio">False
                                <input type="radio" name="auto_calc_mean_baseline" value="false">
                                <span class="checkmark"></span>
                            </label>
                        </div> -->
                    </label>
                    <label class="switch bool">
                        <input type="checkbox" id="boolean1" name="auto_calc_mean_baseline">
                        <span class="slider round"></span>
                    </label>


                    <label for="atlas">atlas
                        <div class="tooltip">
                            <span class="tooltiptext">This is the inline help tip!</span>
                        </div>
                        <input type="text" name="atlas" id="atlas" value="laus125" /></label>
                    <label for="min_cluster_size">min_cluster_size
                        <div class="tooltip">
                            <span class="tooltiptext">This is the inline help tip!</span>
                        </div>
                        <input type="text" name="min_cluster_size" id="min_cluster_size" value="50" /></label>
                    <label for="min_order">min_order
                        <div class="tooltip">
                            <span class="tooltiptext">This is the inline help tip!</span>
                        </div>
                        <input type="text" name="min_order" id="min_order" value="1" /></label>
                    <label for="max_order">max_order
                        <div class="tooltip">
                            <span class="tooltiptext">This is the inline help tip!</span>
                        </div>
                        <input type="text" name="max_order" id="max_order" value="20" /></label>
                    <label for="con_windows_length">con_windows_length
                        <div class="tooltip">
                            <span class="tooltiptext">This is the inline help tip!</span>
                        </div>
                        <input type="text" name="con_windows_length" id="con_windows_length" value="0.1" /></label>
                    <label for="con_windows_shift">con_windows_shift
                        <div class="tooltip">
                            <span class="tooltiptext">This is the inline help tip!</span>
                        </div>
                        <input type="text" name="con_windows_shift" id="con_windows_shift" value="0.05" /></label>
                    <label>con_crop_times
                        <div class="tooltip">
                            <span class="tooltiptext">This is the inline help tip!</span>
                        </div>
                        <div class="range">
                            <input type="text" name="con_crop_times" class="rangeinput low" value="-1" />
                            <input type="text" name="con_crop_times" class="rangeinput high" value="1" />
                        </div>
                    </label>
                    <label>con_mmvt_times
                        <div class="tooltip">
                            <span class="tooltiptext">This is the inline help tip!</span>
                        </div>
                        <div class="range">
                            <input type="text" name="con_mmvt_times" class="rangeinput low" value="-0.5" />
                            <input type="text" name="con_mmvt_times" class="rangeinput high" value="0.5" />
                        </div>
                    </label>
                    <label for="onset_time">onset_time
                        <div class="tooltip">
                            <span class="tooltiptext">This is the inline help tip!</span>
                        </div>
                        <input type="text" name="onset_time" id="onset_time" value="2" /></label>
                    <label>use_functional_rois_atlas
                        <div class="tooltip">
                            <span class="tooltiptext">This is the inline help tip!</span>
                        </div>
                    </label>
                    <label class="switch">
                        <input type="checkbox" id="boolean2" name="use_functional_rois_atlas">
                        <span class="slider round"></span>
                    </label>

                    <label for="exclude">exclude
                        <div class="tooltip">
                            <span class="tooltiptext">This is the inline help tip!</span>
                        </div>
                        <input type="text" name="exclude" id="exclude" value="['unknown']" /></label>
                    <label for="include">include
                        <div class="tooltip">
                            <span class="tooltiptext">This is the inline help tip!</span>
                        </div>
                        <input type="text" name="include" id="include" value="None" /></label>
                    <label>overwrite
                        <div class="tooltip">
                            <span class="tooltiptext">This is the inline help tip!</span>
                        </div>
                    </label>
                    <label class="switch">
                        <input type="checkbox" id="boolean3" name="overwrite">
                        <span class="slider round"></span>
                    </label>
                    <label>n_jobs
                        <div class="tooltip">
                            <span class="tooltiptext">This is the inline help tip!</span>
                        </div>
                        <input type="text" name="n_jobs" value="4" /></label>
                </div>
            </div>

            <div class="tab">
                <div class="section header" id="alg_steps"><span>3</span>Algorithm Steps</div>
                <div class="inner-wrap">
                    <label>pre_processing
                        <div class="tooltip">
                            <span class="tooltiptext">This is the inline help tip!</span>
                        </div>
                    </label>
                    <label class="switch">
                        <input type="checkbox" name="pre_processing">
                        <span class="slider round"></span>
                    </label>
                    <label>calc_stcs
                        <div class="tooltip">
                            <span class="tooltiptext">This is the inline help tip!</span>
                        </div>
                    </label>
                    <label class="switch">
                        <input type="checkbox" name="calc_stcs" checked>
                        <span class="slider round"></span>
                    </label>
                    <label>calc_stc_zvals
                        <div class="tooltip">
                            <span class="tooltiptext">This is the inline help tip!</span>
                        </div>
                    </label>
                    <label class="switch">
                        <input type="checkbox" name="calc_stc_zvals" checked>
                        <span class="slider round"></span>
                    </label>
                    <label>find_functional_rois
                        <div class="tooltip">
                            <span class="tooltiptext">This is the inline help tip!</span>
                        </div>
                    </label>
                    <label class="switch">
                        <input type="checkbox" name="find_functional_rois">
                        <span class="slider round"></span>
                    </label>
                    <label>calc_rois_connectivity
                        <div class="tooltip">
                            <span class="tooltiptext">This is the inline help tip!</span>
                        </div>
                    </label>
                    <label class="switch">
                        <input type="checkbox" name="calc_rois_connectivity">
                        <span class="slider round"></span>
                    </label>
                    <label>normalize_connectivity
                        <div class="tooltip">
                            <span class="tooltiptext">This is the inline help tip!</span>
                        </div>
                    </label>
                    <label class="switch">
                        <input type="checkbox" name="normalize_connectivity">
                        <span class="slider round"></span>
                    </label>
                    <label>save_sig_connections_to_mmvt
                        <div class="tooltip">
                            <span class="tooltiptext">This is the inline help tip!</span>
                        </div>
                    </label>
                    <label class="switch">
                        <input type="checkbox" name="save_sig_connections_to_mmvt">
                        <span class="slider round"></span>
                    </label>
                    <label>plot_zvals_max_stc
                        <div class="tooltip">
                            <span class="tooltiptext">This is the inline help tip!</span>
                        </div>
                    </label>
                    <label class="switch">
                        <input type="checkbox" name="plot_zvals_max_stc">
                        <span class="slider round"></span>
                    </label>



                </div>
            </div>


            <div style="overflow:auto;">
                <div style="float:right;">
                    <button type="button" id="prevBtn" onclick="nextPrev(-1)">Previous</button>
                    <button type="button" id="nextBtn" onclick="nextPrev(1)">Next</button>
                </div>
            </div>
        </form>
    </div>
    <script src="{{url_for('static', filename='javascript/main.js')}}"></script>

</body>

</html>