<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Configure INI File</title>
    <link href='http://fonts.googleapis.com/css?family=Bitter' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/form.css') }}">

    <link rel="shortcut icon" type="image/jpg" href="https://user-images.githubusercontent.com/35853195/42889397-52f9c75e-8a78-11e8-9da8-86ccc3a30a80.png" />
</head>

<body>
    <div id="results"></div>
    <div class="form" id="container">
        <h1>Configuring the INI file
            <img src="https://user-images.githubusercontent.com/35853195/42889397-52f9c75e-8a78-11e8-9da8-86ccc3a30a80.png" id="companylogo">
            <span>
                Fill out the required parameters to create an INI file that will be used when
                running the program
            </span>
        </h1>

        <div class="tabby">
            <button class="tablinks steppy" onclick="openTab('input_data')">Input Data</button>
            <hr class="solid">
            <button class="tablinks steppy" onclick="openTab('alg_parameters')">Algorithm Parameters</button>
            <hr class="solid">
            <button class="tablinks steppy" onclick="openTab('alg_steps')">Algorithm Steps</button>
        </div>

        <!-- Circles which indicates the steps of the form: -->
        <!-- <div style="text-align:center;margin-top:40px;">
            <span class="step"></span>
            <span class="step"></span>
            <span class="step"></span>
        </div> -->

        <label>Input previous INI file (Optional)</label>
        <input type="file" id="prevfile" name="prevfile" style="margin-bottom: 50px;">

        <form id="my-form">
            <div class="tab">
                <div class="section header" id="input_data"><span>1</span>Input Data</div>
                <div class="inner-wrap">
                    <label>modality
                        <div class="tooltip">
                            <span class="tooltiptext">This is the inline help tip!</span>
                        </div>
                    </label>
                    <select id="modality" name="modality">
                        <option value="meg">MEG</option>
                        <option value="meeg">MEEG</option>
                        <option value="eeg">EEG</option>
                    </select>   

                    <label>run_num
                        <div class="tooltip">
                            <span class="tooltiptext">This is the inline help tip!</span>
                        </div>
                        <input type="text" name="run_num" value="1234" /></label>
                    <label>remote_subject_dir
                        <div class="tooltip">
                            <span class="tooltiptext">This is the inline help tip!</span>
                        </div>
                        <input type="text" name="remote_subject_dir" value="filepath" /></label>
                    <label>meg_fol
                        <div class="tooltip">
                            <span class="tooltiptext">This is the inline help tip!</span>
                        </div>
                        <input type="text" name="meg_fol" value="filepath" /></label>
                    <label>ictals_fol_name
                        <div class="tooltip">
                            <span class="tooltiptext">This is the inline help tip!</span>
                        </div>
                        <input type="text" name="ictals_fol_name" value="ictal" /></label>
                    <label>interictals_fol_name
                        <div class="tooltip">
                            <span class="tooltiptext">This is the inline help tip!</span>
                        </div>
                        <input type="text" name="interictals_fol_name" value="interictal" /></label>
                    <label>bad_channels_meg
                        <div class="tooltip">
                            <span class="tooltiptext">This is the inline help tip!</span>
                        </div>
                        <input type="text" name="bad_channels_meg" value="233,456" /></label>
                    <label>bad_channels_eeg
                        <div class="tooltip">
                            <span class="tooltiptext">This is the inline help tip!</span>
                        </div>
                        <input type="text" name="bad_channels_eeg" value="678" /></label>
                    <label>raw_fname
                        <div class="tooltip">
                            <span class="tooltiptext">This is the inline help tip!</span>
                        </div>
                        <!-- <input type="file" id="raw_fname" name="raw_fname"> -->
                        <input type="text" name="raw_fname" value="filepath" /></label>
                        <label>empty_room_fname
                            <div class="tooltip">
                                <span class="tooltiptext">This is the inline help tip!</span>
                            </div>
                            <input type="text" name="empty_room_fname" value="filepath" /></label>
                        <label>dip_fname
                            <div class="tooltip">
                                <span class="tooltiptext">This is the inline help tip!</span>
                            </div>
                            <input type="text" name="dip_fname" value="filepath" /></label>
                </div>
            </div>

            <div class="tab">
                <div class="section header" id="alg_parameters"><span>2</span>Algorithm Parameters</div>
                <div class="inner-wrap">
                    <label>Inverse Method
                        <div class="tooltip">
                            <span class="tooltiptext">This is the inline help tip!</span>
                        </div>
                    </label>
                    <select id="inverse_method" name="inverse_method">
                        <option value="'MNE'">MNE</option>
                    </select>
                    <label>downsample_r
                        <div class="tooltip">
                            <span class="tooltiptext">This is the inline help tip!</span>
                        </div>
                        <input type="text" name="downsample_r" value="2" /></label>
                    <label>seizure_times
                        <div class="tooltip">
                            <span class="tooltiptext">This is the inline help tip!</span>
                        </div>
                        <div class="range">
                            <input type="text" name="seizure_times" class="rangeinput" value="-1" />
                            <input type="text" name="seizure_times" class="rangeinput high" value="1" />
                        </div>
                    </label>
                    <label>windows_length
                        <div class="tooltip">
                            <span class="tooltiptext">This is the inline help tip!</span>
                        </div>
                        <input type="text" name="windows_length" value="0.1" /></label>
                    <label>windows_shift
                        <div class="tooltip">
                            <span class="tooltiptext">This is the inline help tip!</span>
                        </div>
                        <input type="text" name="windows_shift" value="0.05" /></label>
                    <label>mean_baseline
                        <div class="tooltip">
                            <span class="tooltiptext">This is the inline help tip!</span>
                        </div>
                        <input type="text" name="mean_baseline" value="10" /></label>
                    <label>auto_calc_mean_baseline
                        <div class="tooltip">
                            <span class="tooltiptext">This is the inline help tip!</span>
                        </div>
                        
                        <!-- <div class="radiobuttons">
                            <label class="radio">True
                                <input type="radio" checked="checked" name="auto_calc_mean_baseline" value="true">
                                <span class="checkmark"></span>
                            </label>
                            <label class="radio">False
                                <input type="radio" name="auto_calc_mean_baseline" value="false">
                                <span class="checkmark"></span>
                            </label>
                        </div> -->
                    </label>
                    <label class="switch bool">
                        <input type="checkbox" id="boolean1" name="auto_calc_mean_baseline">
                        <span class="slider round"></span>
                    </label>


                    <label>atlas
                        <div class="tooltip">
                            <span class="tooltiptext">This is the inline help tip!</span>
                        </div>
                        <input type="text" name="atlas" value="laus125" /></label>
                    <label>min_cluster_size
                        <div class="tooltip">
                            <span class="tooltiptext">This is the inline help tip!</span>
                        </div>
                        <input type="text" name="min_cluster_size" value="50" /></label>
                    <label>min_order
                        <div class="tooltip">
                            <span class="tooltiptext">This is the inline help tip!</span>
                        </div>
                        <input type="text" name="min_order" value="1" /></label>
                    <label>max_order
                        <div class="tooltip">
                            <span class="tooltiptext">This is the inline help tip!</span>
                        </div>
                        <input type="text" name="max_order" value="20" /></label>
                    <label>con_windows_length
                        <div class="tooltip">
                            <span class="tooltiptext">This is the inline help tip!</span>
                        </div>
                        <input type="text" name="con_windows_length" value="0.1" /></label>
                    <label>con_windows_shift
                        <div class="tooltip">
                            <span class="tooltiptext">This is the inline help tip!</span>
                        </div>
                        <input type="text" name="con_windows_shift" value="0.05" /></label>
                    <label>con_crop_times
                        <div class="tooltip">
                            <span class="tooltiptext">This is the inline help tip!</span>
                        </div>
                        <div class="range">
                            <input type="text" name="con_crop_times" class="rangeinput low" value="-1" />
                            <input type="text" name="con_crop_times" class="rangeinput high" value="1" />
                        </div>
                    </label>
                    <label>con_mmvt_times
                        <div class="tooltip">
                            <span class="tooltiptext">This is the inline help tip!</span>
                        </div>
                        <div class="range">
                            <input type="text" name="con_mmvt_times" class="rangeinput low" value="-0.5" />
                            <input type="text" name="con_mmvt_times" class="rangeinput high" value="0.5" />
                        </div>
                    </label>
                    <label>onset_time
                        <div class="tooltip">
                            <span class="tooltiptext">This is the inline help tip!</span>
                        </div>
                        <input type="text" name="onset_time" value="2" /></label>
                    <label>use_functional_rois_atlas
                        <div class="tooltip">
                            <span class="tooltiptext">This is the inline help tip!</span>
                        </div>
                    </label>
                    <label class="switch">
                        <input type="checkbox" id="boolean2" name="use_functional_rois_atlas">
                        <span class="slider round"></span>
                    </label>

                    <label>exclude
                        <div class="tooltip">
                            <span class="tooltiptext">This is the inline help tip!</span>
                        </div>
                        <input type="text" name="exclude" value="['unknown']" /></label>
                    <label>include
                        <div class="tooltip">
                            <span class="tooltiptext">This is the inline help tip!</span>
                        </div>
                        <input type="text" name="include" value="None" /></label>
                    <label>overwrite
                        <div class="tooltip">
                            <span class="tooltiptext">This is the inline help tip!</span>
                        </div>
                    </label>
                    <label class="switch">
                        <input type="checkbox" id="boolean3" name="overwrite">
                        <span class="slider round"></span>
                    </label>
                    <label>n_jobs
                        <div class="tooltip">
                            <span class="tooltiptext">This is the inline help tip!</span>
                        </div>
                        <input type="text" name="n_jobs" value="4" /></label>
                </div>
            </div>

            <div class="tab">
                <div class="section header" id="alg_steps"><span>3</span>Algorithm Steps</div>
                <div class="inner-wrap">
                    <label>pre_processing
                        <div class="tooltip">
                            <span class="tooltiptext">This is the inline help tip!</span>
                        </div>
                    </label>
                    <label class="switch">
                        <input type="checkbox" name="pre_processing">
                        <span class="slider round"></span>
                    </label>
                    <label>calc_stcs
                        <div class="tooltip">
                            <span class="tooltiptext">This is the inline help tip!</span>
                        </div>
                    </label>
                    <label class="switch">
                        <input type="checkbox" name="calc_stcs" checked>
                        <span class="slider round"></span>
                    </label>
                    <label>calc_stc_zvals
                        <div class="tooltip">
                            <span class="tooltiptext">This is the inline help tip!</span>
                        </div>
                    </label>
                    <label class="switch">
                        <input type="checkbox" name="calc_stc_zvals" checked>
                        <span class="slider round"></span>
                    </label>
                    <label>find_functional_rois
                        <div class="tooltip">
                            <span class="tooltiptext">This is the inline help tip!</span>
                        </div>
                    </label>
                    <label class="switch">
                        <input type="checkbox" name="find_functional_rois">
                        <span class="slider round"></span>
                    </label>
                    <label>calc_rois_connectivity
                        <div class="tooltip">
                            <span class="tooltiptext">This is the inline help tip!</span>
                        </div>
                    </label>
                    <label class="switch">
                        <input type="checkbox" name="calc_rois_connectivity">
                        <span class="slider round"></span>
                    </label>
                    <label>normalize_connectivity
                        <div class="tooltip">
                            <span class="tooltiptext">This is the inline help tip!</span>
                        </div>
                    </label>
                    <label class="switch">
                        <input type="checkbox" name="normalize_connectivity">
                        <span class="slider round"></span>
                    </label>
                    <label>Save Sig Connections to MMVT
                        <div class="tooltip">
                            <span class="tooltiptext">This is the inline help tip!</span>
                        </div>
                    </label>
                    <label class="switch">
                        <input type="checkbox" name="save_sig_connections_to_mmvt">
                        <span class="slider round"></span>
                    </label>

                </div>
            </div>


            <div style="overflow:auto;">
                <div style="float:right;">
                    <button type="button" id="prevBtn" onclick="nextPrev(-1)">Previous</button>
                    <button type="button" id="nextBtn" onclick="nextPrev(1)">Next</button>
                </div>
            </div>
        </form>
    </div>
    <script src="{{url_for('static', filename='javascript/main.js')}}"></script>

</body>

</html>